<!DOCTYPE html>
<html>
  <head>
    <title>MyTube</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <meta name="description" content="MyTube" />
    <meta name="title" property="og:title" content="MyTube" />
    <meta property="og:type" content="Website" />
    <meta name="image" property="og:image" content="https://live.staticflickr.com/65535/51231893202_97cb9a8989.jpg" />
    <meta name="description" property="og:description" content="MyTube" /><meta name="author" content="Frank Mendez" />

    <script type="text/javascript">
      window.logo = "<%= image_url("logo.png") %>"
      window.spinner = "<%= image_url("spinner.gif") %>"
    </script>
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Sans+TC&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/6236dc5361.js" crossorigin="anonymous"></script>
    <%= favicon_link_tag asset_path("logo2.png") %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
